.chat {
  text-align: center;
  .chat__title {
    font-size: 24px;
    font-style: italic;
    color: aquamarine;
  }
  /** チャットフォーム部分 **/
  .chat__content {
    display: flex;
    flex-direction: column;
    /** テキストエリア部分 **/
    .chat__input {
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 560px;
      height: 50px;
      margin: 8px auto;
    }
    /** 送信ボタン部分 **/
    .chat__button {
      width: 56px;
      margin: 0 auto;
    }
  }
}