.chat {
  width: 100%;
  text-align: center;

  /** チャット タイトル部分 **/
  .chat__title {
    font-size: 24px;
    font-style: italic;
    color: #0073aa;
  }

  /** チャット ブロック全体部分 **/
  .chat__window {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    padding-inline-start: 0;
  }
  /** チャット リクエストブロック部分 **/
  .chat__window li:first-child {
    align-self: flex-start;
  }
  /** チャット レスポンスブロック部分 **/
  .chat__window li:last-child {
    align-self: flex-end;
  }

  /** チャット　枠部分 **/
  .chat__request,
  .chat__response {
    display: none;
    color: #778899;
    background-color: aliceblue;
    width: 300px;
    height: auto;
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    margin: 8px;

    /** チャット メッセージ詳細 **/
    .chat__request-text,
    .chat__response-text {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
    .chat__request-detail,
    .chat__response-detail {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      .chat__request-sender,
      .chat__request-time,
      .chat__response-sender,
      .chat__response-time {
        margin: 0;
      }
    }
  }
  .chat__input {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  /** フォーム 入力部分 **/
  .chat__input input {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0 16px 16px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 560px;
    height: 50px;
    margin: 8px auto;
    z-index: 9999;
  }
  /** 送信ボタン 部分 **/
  .chat__input button {
    position: fixed;
    bottom: 8px;
    margin-left: 16px;
    padding: 8px 16px;
    background-color: #0073aa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
/** HTML 要素　 */
li {
  list-style: none;
}