/**
 * home.css
 * ホームページ用のcss
 */
 .home__title {
  text-align: center;
}
.content {
  display: flex;
}
.article {
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.article:before, .article:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.article:before {
  left: 10px;
}
.article:after {
  right: 10px;
}
.article p {
    margin: 0;
    padding: 0;
}